html {
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
 // overflow-x: auto;
 background-color: rgb(228, 248, 245);
}
input {
  padding: 0.5em;
  border: 2px solid  #f68814;
  border-radius: 2px;
  background-color: rgb(228, 248, 245);
}
button, .button, input[type="submit"] {
  background-color:  #bcb7b2;
  color: white;
  padding: 0.5em;
}
button:hover, .button:hover, input[type="submit"]:hover {
  background-color:  #8a8988 ;
}
button:active, .button:active, input[type="submit"]:active {
  background-color: #f4466e;
}
button.full-width, .button.full-width, input[type="submit"].full-width {
  width: 100%;
  margin: 1em 0;
}
.NewItem {
  display: flex;
}
.NewItem-input {
  width: 100%;
}
.item-list-item {
  background-color: rgb(228, 248, 245);
  padding: 0.5em;
  min-width: inherit;
  max-height: inherit;
  
}



.item-list-item :hover {
  display: inline-block;
}
.unpacked-items{
  overflow: auto;
  padding-bottom: 50px;
}